<div class="container-banner">
    <div class="container-info">
      <h1>Simulador de Investimentos</h1>
      <p>Simule, planeje, invista: o poder está em suas mãos!</p>
      <a href="/simulacao/adicionar"><button  class="btn btn-dark" type="submit">Simular agora</button></a>
    </div>
  </div>
</nav>

<div class="card-container">
  <div class="card" style="width: 18rem">
    <i class="bi bi-bank"></i>
    <div class="card-body">
      <h5 class="card-title">Tesouro Direto</h5>
      <p class="card-text">
        É um programa do governo brasileiro que permite a compra de títulos
        públicos. É considerado um investimento de baixo risco e oferece
        diferentes tipos com prazos e rentabilidades variadas.
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <i class="bi bi-coin"></i>
    <div class="card-body">
      <h5 class="card-title">CDB</h5>
      <p class="card-text">
        É um investimento em que você empresta dinheiro para um banco por um
        determinado período em troca de juros. Os rendimentos podem variar
        dependendo do prazo e da instituição financeira.
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <i class="bi bi-piggy-bank"></i>
    <div class="card-body">
      <h5 class="card-title">Poupança</h5>
      <p class="card-text">
        É uma forma de economizar dinheiro em uma conta de poupança
        em um banco. Oferece liquidez imediata, mas geralmente tem um
        retorno financeiro menor do que outras opções de investimento.
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <i class="bi bi-cash-coin"></i>
    <div class="card-body">
      <h5 class="card-title">LCI/LCA</h5>
      <p class="card-text">
        São títulos de renda fixa emitidos por instituições financeiras para
        financiar o setor imobiliário (LCI) ou o agronegócio (LCA).
        Geralmente, oferecem isenção de imposto de renda e têm prazos e rendimentos específicos.
      </p>
    </div>
  </div>
</div>